@model PostModel
@{
	ViewData["Title"] = Model.Title;
}

<article>
	<h1 class="post-title"><cite>@Model.Title</cite></h1>
	<p>
		By <a asp-area="" asp-controller="Users" asp-action="Profile" asp-route-guid="@Model.Author.Id">@Model.Author.Username</a>
	</p>

	<pre>@Model.Content</pre>

	<details>
		<p>Created On: @Html.DisplayFor(p => p.CreatedDate)</p>
		<p>Updated On: @Html.DisplayFor(p => p.UpdatedDate)</p>
	</details>
</article>