@model PostModel
@using Westwind.AspNetCore.Markdown
@{
	ViewData["Title"] = Model.Title;
}

<article>
	<h1 class="post-title"><cite>@Model.Title</cite></h1>
	<p>
		By <a asp-area="" asp-controller="Users" asp-action="Profile" asp-route-id="@Model.Author.Id">@Model.Author.Username</a>
	</p>

	@Markdown.ParseHtmlString(Model.Content)

	<details>
		<p>Created On: @Html.DisplayFor(p => p.CreatedDate)</p>
		@if (Model.UpdatedDate is not null)
		{
			<p>Updated On: @Html.DisplayFor(p => p.UpdatedDate)</p>
		}

		<h2>Actions:</h2>
		@await Html.PartialAsync("~/Views/Posts/_PostActionButtonsPartial.cshtml")
	</details>
</article>

@section Scripts {
	<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
	<link href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/github.min.css" rel="stylesheet" />
	<script>
		setTimeout(function () {
			var pres = document.querySelectorAll("pre>code");
			for (var i = 0; i < pres.length; i++) {
				hljs.highlightBlock(pres[i]);
			}
		});
	</script>
}