@model IEnumerable<UserModel>
@using PTBlog.Data.Repositories;
@inject IUsersRepository repo;
@{
	ViewData["Title"] = "Users";
}

<h1>Users</h1>

<div class="row">
	<table class="table">
		<thead>
			<tr>
				<th>@Html.DisplayNameFor(model => model.Username)</th>
				<th>Role</th>
				<th>@Html.DisplayNameFor(model => model.ProfilePictureURL)</th>
			</tr>
		</thead>

		<tbody>
			@foreach (var user in Model)
			{
				<tr>
					<td class="align-middle">
						<a asp-area="" asp-controller="Users" asp-action="Profile" asp-route-id="@user.Id">@Html.DisplayFor(model => user.Username)</a>
					</td>
					<td class="align-middle">
						<p class="no-margin">@await repo.GetRoleNameForUserAsync(user)</p>
					</td>
					<td class="align-middle">
						<img class="profile-picture" src="@user.ProfilePictureURL" alt="@user.Username's Profile Picutre">
					</td>
				</tr>
			}
		</tbody>
	</table>
</div>